---
---

@import "{{ site.theme }}";

/* Everything above this is the bare minimum */

/* Everything below this is my own customizations */

a {
 color: #0062ab;
}

a:hover,
a:focus {
 color:#080808;
}
a small {
 color:#080808;
}
a:hover small {
 color:#080808
}

/* body means everything, the default for the page */
body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 105%;
 background-color: #f7f5f5;
}

/* these are the headers */
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}


header h1 a {
 font-size: 1.2em;
 color: #080808;
}

header h1 a:hover {
 font-size: 1.2em;
 color: #080808;
}

/* =======================
   Custom: widen right content
   ======================= */


/* Widen only the right-hand content section for desktop screens */
section {
  max-width: 700px;       /* adjust to desired width */
  width: 90%;             /* allows it to shrink slightly if needed */
  margin-left: 270px;     /* same width as left sidebar */
}

/* Hide the footer */
footer {
  display: none;
}

